<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:utils="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>
    <context:property-placeholder location="classpath:client.properties" system-properties-mode="OVERRIDE"/>

    <import resource="loggers.xml"/>
    <import resource="database.xml"/>

    <bean id="client" class="core.entities.Client"
          c:id="${id}"
          c:fullName="${name}"
          p:greeting="${greeting}"/>

    <utils:map id="loggersMap" map-class="java.util.TreeMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </utils:map>

    <bean id="event" class="core.loggers.Event" scope="prototype">
        <constructor-arg value="#{new java.util.Date()}"/>
        <constructor-arg value="#{T(java.text.DateFormat).getDateTimeInstance()}"/>
    </bean>

    <bean id="app" class="core.App">
        <constructor-arg value="#{T(core.loggers.Event).isDay(7,19) ?
        consoleEventLogger : fileEventLogger}"/>
        <constructor-arg ref="loggersMap"/>
        <constructor-arg ref="client"/>
    </bean>
</beans>